@{
    ViewData["Title"] = "Home Page";
}
<head>
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin"anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <table border="1" width="1000">
        <tr>
            <th align ="center" colspan="6" width="1000" bgcolor="D5D5D5">전공</th>
        </tr>
        <tr>
            <th bgcolor = "D5D5D5"> 이수구분</th>
            <th bgcolor = "D5D5D5"> 응답유형</th>
            <th colspan = "6" width  = "800" bgcolor = "D5D5D5">학수번호 쉼표로 구분하여 입력 (CSE1234, CSE2345 ...)</th>
        </tr>
        <tr>
            <td>
                <input size="40">
            </td>
            <td>
                <input size="40">
            </td> 
            <td colspan = "6" width  = "100">
                <input size="50">
            </td>
        </tr>
        <tr>
            <td>
                <input size="40">
            </td>
            <td>
                <input size="40">
            </td> 
            <td colspan = "6" width  = "100">
                <input size="50">
            </td>
        </tr>
        <tr>
            <td>
                <input size="40">
            </td>
            <td>
                <input size="40">
            </td> 
            <td colspan = "6" width  = "100">
                <input size="50">
            </td>
        </tr>
    </table>
        <br>
    <table border="1" width="1000">
        <tr>
            <th colspan = "6" bgcolor = "D5D5D5">교양</th>
        </tr>
        <tr>
            <th bgcolor = "D5D5D5"> 이수구분</th>
            <th bgcolor = "D5D5D5"> 응답유형</th>
            <th colspan = "6" width  = "800" bgcolor = "D5D5D5">학수번호 쉼표로 구분하여 입력 (ICG1234, PRI2345 ...)</th>
        </tr>
        <tr>
            <td>
                <input size="40">
            </td>
            <td>
                <input size="40">
            </td> 
            <td colspan = "6" width  = "100">
                <input size="50">
            </td>
        </tr>
        <tr>
            <td>
                <input size="40">
            </td>
            <td>
                <input size="40">
            </td> 
            <td colspan = "6" width  = "100">
                <input size="50">
            </td>
        </tr>
        <tr>
            <td>
                <input size="40">
            </td>
            <td>
                <input size="40">
            </td> 
            <td colspan = "6" width  = "100">
                <input size="50">
            </td>
        </tr>
    </table>
    <br>
    <table border="1" width="1000">

        <tr>
            <th align ="center" colspan="6" width="1000" bgcolor="D5D5D5">졸업요건</th>
        </tr>
        <tr>
            <th bgcolor = "D5D5D5">이수구분</th>
            <th bgcolor = "D5D5D5">응답유형</th>
            <th colspan = "6" width  = "800" bgcolor = "D5D5D5">학점입력</th>
        </tr>
        <tr>
            <td>
                <input size="40">
            </td>
            <td>
                <input size="40">
            </td> 
            <td colspan = "6" width  = "100">
                <input size="50">
            </td>
        </tr>
        <tr>
            <td>
                <input size="40">
            </td>
            <td>
                <input size="40">
            </td> 
            <td colspan = "6" width  = "100">
                <input size="50">
            </td>
        </tr>
        <tr>
            <td>
                <input size="40">
            </td>
            <td>
                <input size="40">
            </td> 
            <td colspan = "6" width  = "100">
                <input size="50">
            </td>
        </tr>
    </table>
</body>
